@font-face {
  font-family: "Playfair";
  src: url("../font/PlayfairDisplay-VariableFont_wght.ttf");
}


.scrolled-header {

  background-color: rgb(55, 181, 249);
  border: 1px solid rgb(55, 181, 249);
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
  transition: background-color 0.5s;
}

html,
body {

  font-family: "Playfair";

}

/* .card {
  position: relative;
  width: 18rem;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
.card-img-overlay {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.eye-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  border-color: gainsboro;
  border-width: 1px;
  background-color: transparent;
}

.color-selector {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.color-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.contactusbtn {
  background-color: #66fcf1;
  border: none;
  border-radius: 20px;
  height: 40px;
}

.contactusbtn:hover {

  background-color: #339bf0;
}

.headrlink {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 0.5rem;
}

.homeimg {

  background-image: url("../res/webdeveloper_2-removebg.png");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

.scroll-to-top1 {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 99;

}

.banner {

  background-image: url("../res/About_us_main_banner.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.bannertext {

  margin-top: 120px;

}

.bannerchatbox {

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bannersendbtn {

  background-color: rgb(8, 226, 8);
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
}

.scrolled-headerbtn {

  background-color: rgb(8, 226, 8);
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
  transition: background-color 0.5s;

}

.bimg {

  background-image: url("../res/home_main_1.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;

}

.bimg2 {

  background-image: url("../res/home_main_2.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.bimg3 {

  background-image: url("../res/home_main_3.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.bimg4 {

  background-image: url("../res/home_main_4.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.subcribediv {

  background-color: rgb(157, 157, 157);
  box-shadow: 0 4px 6px rgba(40, 40, 40, 0.5);
  border-radius: 25px;
}

.NewsletterDiv {
  background-color: orange;
  color: white !important;
  margin-bottom: -240px;
  margin-top: 100px;
  z-index: 100;
}

.footertext {

  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;

}

.footerheader2 {

  font-size: 27px;
  font-weight: 700;
  line-height: 24px;


}

.footerdetails {

  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

}

.footerdetails2 {

  font-size: 15px;
  font-weight: 300;
  line-height: 24px;

}

.msgdiv {

  background-color: lightblue;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
  border-radius: 25px;
}

.msgdiv2 {

  background-color: rgb(255, 255, 255);
}

.bannert {

  font-size: 80px;

}

.bannertt {

  font-size: 20px;

}

.searchdiv {

  margin-top: -150px;

}

@media only screen and (max-width: 445px) {


  .bannert {

    font-size: 40px;

  }

  .bannertt {

    font-size: 12px;

  }

  .bannertext {


    margin-top: 100px;

  }

  .banner {

    height: 500px;

  }

  .searchdiv {

    margin-top: -130px;

  }



}

@media only screen and (min-width:445.2px) and (max-width:768px) {

  .headermenu {

    display: none;

  }

  .headercontactusbtn {

    display: none;
  }

  .headermenubtn {

    display: block;
    margin-left: 80%;
  }

  .whatwedoline {

    border: none;
    height: 20px;
  }
}